@font-face {
  font-family : 'ROBOTOCONDENSEDLIGHT';
  src         : url(../fonts/ROBOTOCONDENSED-LIGHT.eot);
  src         : url(../fonts/ROBOTOCONDENSED-LIGHT.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ROBOTOCONDENSED-LIGHT.svg) format("svg"),
  url(../fonts/ROBOTOCONDENSED-LIGHT.woff) format("woff"),
  url(../fonts/ROBOTOCONDENSED-LIGHT.ttf) format("truetype");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'RobotoCondensedRegular';
  src         : url(../fonts/RobotoCondensedRegular.eot);
  src         : url(../fonts/RobotoCondensedRegular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/RobotoCondensedRegular.svg) format("svg"),
  url(../fonts/RobotoCondensedRegular.woff) format("woff"),
  url(../fonts/RobotoCondensedRegular.ttf) format("truetype");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'printlot_icon';
  src         : url('../fonts/printlot_icon.eot?qcidid');
  src         : url('../fonts/printlot_icon.eot?qcidid#iefix') format('embedded-opentype'),
  url('../fonts/printlot_icon.ttf?qcidid') format('truetype'),
  url('../fonts/printlot_icon.woff?qcidid') format('woff'),
  url('../fonts/printlot_icon.svg?qcidid#printlot_icon') format('svg');
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'ROBOTOCONDENSED-LIGHTITALIC';
  src         : url(../fonts/ROBOTOCONDENSED-LIGHTITALIC.eot);
  src         : url(../fonts/ROBOTOCONDENSED-LIGHTITALIC.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ROBOTOCONDENSED-LIGHTITALIC.svg) format("svg"),
  url(../fonts/ROBOTOCONDENSED-LIGHTITALIC.woff) format("woff"),
  url(../fonts/ROBOTOCONDENSED-LIGHTITALIC.ttf) format("truetype");
}



